<h2 style="margin-top: 1em; margin-left: 12px;">{{title}}</h2>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card style="width: 500px">
      <mat-card-content>
        <h2>Exercises</h2>
        <ul style="list-style: none">
          <li>
            <a routerLink="#">
              <i class="material-icons">public</i> Exercise 2A: Country
            </a>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 240px">
      <mat-card-content>
        <h2>Features</h2>
        <ul>
          <li>Angular 12</li>
          <li>TypeScript 4.2</li>
          <li>Angular Material 12 Components</li>
        </ul>  
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>